.icon {
  width: 8vw;
  height: 8vw;
  background-image: url('data/images/rock.png');
  background-size: contain;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.icon:hover {
  animation: rotate 3s ease infinite;
}