.border1 {
  border: 1px solid;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.75);
  padding: 1rem;
}

.bg-green {
  border-radius: 5px;
  background: linear-gradient(
    to top right, rgb(255,255,255) 0%, rgb(56, 131, 54) 40%, rgb(0,80,0) 100%
  );
}

.inner-section {
  border: 1px solid;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.9);
  height: 100%;
}

.header {
  margin-top: 4rem;
  text-shadow: 0 0 5px rgb(35, 255, 0);
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
  0%, 100% {
    transform: translateY(0);
  }
}

.bounce:hover {
  animation: bounce 1.5s ease infinite;
}

.dynamic-hover:hover {
  transition: transform ease-out;
  transform: rotateX(var(--x-rotation)) rotateY(var(--y-rotation)) scale(1.1);
}

.navbar {
  color: whitesmoke;
}

.ts-white {
  text-shadow: 0 0 5px white;
}
.bs-white {
  box-shadow: 0 0 5px white;
}

.ts-hover-white:hover {
  text-shadow: 0 0 5px white;
}

.bs-hover-white:hover {
  box-shadow: 0 0 5px white;
}

.bs-hover-green:hover {
  box-shadow: 0 0 5px green;
}