.border1 {
  border: 1px solid;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.75);
  padding: 1rem;
}

.border2 {
  border: 1px solid;
  border-radius: 100%;
  background-color: rgba(245, 245, 245, 1);
  padding: 1rem;
}

.bg-green {
  border-radius: 5px;
  background: linear-gradient(
    to top right, rgb(255,255,255) 0%, rgb(56, 131, 54) 40%, rgb(0,80,0) 100%
  );
}

.inner-section {
  border: 1px solid;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.9);
  height: 100%;
}

.header {
  margin-top: 4rem;
  text-shadow: 0 0 5px rgb(35, 255, 0);
}

.about {
  width: 75%;
}

.contact {
  width: 50%;
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
  0%, 100% {
    transform: translateY(0);
  }
}

.bounce:hover {
  animation: bounce 1.5s ease infinite;
}

.dynamic-hover:hover {
  transition: transform ease-out;
  transform: rotateX(var(--x-rotation)) rotateY(var(--y-rotation)) scale(1.1);
}

.navbar {
  color: whitesmoke;
}

.ts-white {
  text-shadow: 0 0 5px white;
}
.bs-white {
  box-shadow: 0 0 5px white;
}

.ts-hover-white:hover {
  text-shadow: 0 0 5px white;
}

.bs-hover-white:hover {
  box-shadow: 0 0 5px white;
}

.bs-hover-green:hover {
  box-shadow: 0 0 5px green;
}

@media only screen and (max-width: 1020px) {
  .header {
    margin-top: 2rem;
  }
  .content {
    padding: 0.5rem;
    background-image: none;
    margin-top: 4rem;
  }
  .intro {
    display: flex;
    flex-direction: column-reverse;
  }
  .about {
    width: 100%;
  }
  .badge-list {
    flex-wrap: wrap;
  }
  .intro-badge {
    margin: 0.5rem;
    width: 40vw;
    .inner-section {
      padding: 1rem;
      h4 {
        font-size: medium;
      }
    }
  }
  .icon {
    width: auto;
    height: auto;
  }
  .experience-box {
    width: 100%;
  }
  .experience-timeline {
    display: none;
  }
  .timeline-icon {
    display: none;
  }
  .timeline {
    display: none;
  }


  .project-list {
    flex-direction: column;
    .project-box {
      width: 100%;
      margin-top: 1rem;
    }
  }
  .contact {
    width: 100%;
  }
}